<!-- Just an image -->
<nav class="navbar navbar-dark bg-dark">
 <div class="container">
      <a class="navbar-brand" href="/">
         <img src="/images/imgshare-logo.png" width="160" alt="">
      </a>
 </div>
</nav>